/* Css stylesheet for hello_world */

*  {
  font-family: 'Georgia', 'Times', serif;
  color:  teal;
  background-color: coral;
   }
  
h1 {
    text-decoration: none;
   text-align: center;
   font-size: 50px;
   font-family: Impact, serif;
   text-transform: uppercase;
   font-style: italic;
   font-weight: normal;
   }
   
p  {
   font-size: 25px;

   
   }
   

  
img  {
   border-radius: 100%;
   }
   
ul  {
   text-align: center;
   list-style:none;
   font-size: 25px;
   border: inset 4px FireBrick;
   padding: 4px;
   }


   

